NETUID=66

SUBTENSOR_NETWORK=finney
SUBTENSOR_CHAIN_ENDPOINT=wss://entrypoint-finney.opentensor.ai:443

AXON_PORT=8091

WALLET_NAME=default
WALLET_HOTKEY=default

OPENAI_API_KEY=your_openai_api_key

BLACKLIST_FORCE_VALIDATOR_PERMIT=True
BLACKLIST_VALIDATOR_MIN_STAKE=1000