OPENAI_API_KEY=sk-proj-example

NETUID=66

WALLET_NAME=validator
WALLET_HOTKEY=default

SUBTENSOR_NETWORK=finney
SUBTENSOR_CHAIN_ENDPOINT=wss://entrypoint-finney.opentensor.ai:443

WANDB_API_KEY=wandb-api-key

WANDB_ENTITY=gutenberg-fakenews
WANDB_PROJECT=SN66_Validator
