OPENAI_API_KEY=sk-proj-example

NETUID=60

WALLET_NAME=validator
WALLET_HOTKEY=default

SUBTENSOR_NETWORK=default
SUBTENSOR_CHAIN_ENDPOINT=ws://127.0.0.1:9945

WANDB_API_KEY=wandb-api-key
WANDB_PROJECT=fakenews-subnet
WANDB_ENTITY=myteam
